{{ define "main" }}
<div class="about-page">
  <section class="about-hero">
    <div class="about-headline-col">
      <h1 class="about-title">
        <em>404.</em>
      </h1>
      <div class="about-intro">
        <p>The page you are looking for does not exist. Whether it was ever here is a question this publication is not equipped to answer.</p>
        <p><a href="/" class="colophon-link">Return to the current edition <span class="arrow">&rarr;</span></a></p>
      </div>
    </div>
  </section>
</div>
{{ end }}
